.fz-16 {
   font-style: 16px;
}
.fz-20 {
   font-style: 20px;
}
.fz-24 {
   font-style: 24px;
}
.bold {
   font-weight: bold;
}
.thin {
   font-weight: 300;
}
.italic {
   font-style: italic;
}
.text-color-primary {
   color: $primary;
}
.text-color-danger {
   color: $danger;
}
.text-color-warning {
   color: $warning;
}
.text-color-success {
   color: $success;
}
.text-color-dark {
   color: $dark;
}